<p>
Great news! - your server: {{server}} has been successfully deployed. you can login into gosass here to access logs and perform other operations: <br />
<a href="{{gosass_base_url}}">{{gosass_base_url}}</a>. <br /><br />If you have any questions, or need further help - please feel free to contact us on:
<a href="mailto:support@gosass.com">support@gosass.com</a>
</p>