<p>
Welcome to gosass. Your account is now setup and ready to go. you can login into gosass here: <br />
<a href="{{gosass_base_url}}">{{gosass_base_url}}</a>. <br /><br />If you have any questions, or need further help - please feel free to contact us on:
<a href="mailto:support@gosass.com">support@gosass.com</a>
</p>